li{
    cursor: pointer;
}

.Footer{ 
    background-color: rgb(22, 22, 22);
    width: 100%;
    padding: 3em 3em;
    padding-right: 4em;
    *{
        color: rgb(219, 219, 219);
    }

    .container{
        display: flex;
        justify-content: space-between;
        .left{
            display: flex;
            flex-direction: column;

        }
        .right{
            display: flex;
            gap: 1em;
            justify-content: flex-start;
            padding-right: 4em;
            ul{
                display: flex;
                flex-direction: column;
                gap: 5px;
                span{
                    font-size: 1.3em;
                    font-weight: 100;
                    text-align: left;
                    margin-bottom: 7px;
                }
                li{
                    font-size: 0.9em;
                    text-align: left; 
                    margin: 3px 0;
                }
            }
        }
    }
}