* {
  transition: ease 0.2;
}

@mixin baton {
  width: fit-content;
  font-weight: bold;
  padding: 0.9em 2.1em;
  font-size: 1em;
  border: solid rgb(91, 92, 92) 1.8px;
  background: none;
  border-radius: 23px;
  cursor: pointer;
  transition: ease-in-out 0.2s;

  &:hover {
    opacity: 1;
    color: black;
    background: rgb(222, 225, 228);
  }
  &:active {
    opacity: 1;
    color: white;
    background: none;
  }
}

@mixin signupbutton {
  color: #f8f8f8;
  opacity: 0.6;
  width: fit-content;
  font-weight: 200;
  padding: 0.9em 2.7em;
  font-size: 1.2em;
  border: none;
  background: rgb(82, 82, 82);
  border-radius: 23px;
  cursor: pointer;
  transition: ease-in-out 0.2s;

  &:hover {
    opacity: 0.7;
    color: rgb(255, 255, 255);
    background: rgb(49, 49, 49);
  }
  &:active {
    opacity: 1;
    color: rgb(32, 32, 32);
    background: none;
  }
}

.Nav {
  padding: 0.5em 3.1em;
  padding-bottom: 0;
  display: block;
  position: fixed;
  width: 100%;
  z-index: 100000000000;
  background-color: #ffffff;

  .olodo {
    font-size: 1.3em;
  }

  input {
    font-size: 1.2em;
    background: #c7c7c7;
    opacity: 0.6;
    text-align: left;
    border-radius: 17px;
    height: 2em;
    border: none;
    width: 50em;
    margin: 6px 20px;
    padding: 1.4em;

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      opacity: 0.8;
      outline: none;
      box-shadow: 2px 2px 7px #8f8f8f;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding: 0 0.1em;
    padding-right: 1.3em;
    align-items: center;

    .rightboy {
      display: flex;
      justify-content: space-between;
      gap: 0;
      align-items: center;

      .sololink {
        font-weight: 100;
      }

      .logo {
        padding: 0;
        padding-top: 5px;
        display: flex;
        align-items: center;

        .logoimage {
          width: 10em;
          zoom: 1.5;
        }
      }
    }

    .closedNav {
      cursor: pointer;
      color: rgb(37, 37, 37);
      display: flex;
      gap: 3em;
      font-weight: lighter;
      padding: 0;
      justify-content: left;
      align-items: center;
    }

    .getstarted {
      display: flex;
      align-items: center;
      gap: 1.5em;
      transition: ease-in-out 2s;

      .getStarted {
        @include baton();
        font-weight: lighter;
        border: none;
        transition: linear 0.2s;
        opacity: 0.7;

        &:hover {
          opacity: 1;
          color: rgb(37, 37, 37);
          background: none;
        }
      }
    }
  }

  .mens {
    display: block;
    &:hover {
      .ops {
        height: 4px;
      }
    }
  }

  .womens {
    display: none;
  }
}

.bag{
  width: 30px;
  height: 25px;
  object-fit: cover;
}

#scrollo{
  box-shadow: 1px 1px 1px #e7e7e7;
}
.scrollo{
  box-shadow: 1px 1px 1px #e7e7e7;
}

button {
  background: none;
  border: none;
  width: fit-content;
  cursor: pointer;
}

.navbar-link {
  cursor: pointer;
  font-size: 0.9em;
  opacity: 0.6;
  transition: 0.1s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.linky{
  opacity: 0.8;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}

.inactive {
  cursor: pointer;
  opacity: 0.7;
}

.active {
  cursor: pointer;
  opacity: 1;
  padding: 1.4px 2px;
  //border-bottom: solid 3px rgb(37, 37, 37);
}

.oho {
  padding-top: 6em;
  background: #ffffff;
}

.banner {
  background-color: rgb(1, 145, 145);
  padding: 1em 0.5em;
  font-size: 1.1em;
  font-weight: 200;
  position: relative;
  .cont {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      color: #f5f5f5;
    }
    button {
      display: flex;
      align-items: center;
      position: absolute;
      top: 4px;
      right: 13px;
      svg {
        scale: 0.5;
      }
    }
  }
}

.noshow {
  display: none;
}

.showgreen{
  z-index: 1000000000000000000000;
  display: block;
  position: fixed;
  right: 3em;
  bottom: 3em;
  background-color: rgb(1, 145, 145);
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.BigCaro {
  position: relative;
  max-height: min-content;
  img {
    width: 100%;
  }
  button {
    @include signupbutton;
    scale: 1;
  }

  .rootbeer {
    position: absolute;
    bottom: 7.2em;
    left: 65em;
    background: #ebb0c6;
    padding: 2em;
    padding-top: 8px;
  }
}

.LinkBar {
  background: #f7f7f7;
  box-shadow: 1px 1px 1px #e7e7e7;
  padding: 0.5em 6em;

  ul {
    display: flex;
    justify-content: space-between;
    font-weight: 200;
    opacity: 0.8;
  }
}

.CardA {
  margin: 0;
  border-radius: 1em;
  padding: 1em 10px;
  height: fit-content;
  width: fit-content;
  scale: 0.9;
  &:hover{
    z-index: 100000000;
    scale: 1;
    //box-shadow: 0px 17px 18px #e4e4e4;
  }
  .smaller-box {
    .top {
      display: flex;
      flex-direction: column;
      width: 13em;
      margin-bottom: 1.2em;
      img {
        width: 15em;
        height: 18em;
        object-fit: cover;
        border-radius: 3px;
        box-shadow: 0px 1px 4px #b8b7b7;
      }
    }
    .bottom {
      display: flex;
      flex-direction: column;
      justify-content: left;
      .one {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .left {
          display: flex;
          flex-direction: column;
          .big {
            font-size: 1.05em;
            font-weight: 200;
            text-align: left;
          }
          .small {
            font-size: 1em;
            text-align: left;
          }
        }
        .right {
          font-weight: 200;
          font-size: 1.2em;
          text-align: left;
        }
      }
      .two {
        display: flex;
        justify-content: left;
        align-items: left;
        order: -1;
        margin-bottom: 7px;
        .left {
          .color-box {
            display: flex;
            justify-content: space-between;
            gap: 4px;
            align-items: center;
            .circle {
              width: 1.1em;
              height: 1.1em;
              border-radius: 50%;
            }
            .R {
              background-color: rgb(255, 244, 149);
            }
            .B {
              background-color: rgb(107, 43, 5);
            }
            .A {
              background-color: #383838;
            }
          }
        }
      }
    }
  }
}

.wnsection{
  margin-top: 6em;
  .header{
    position: relative;
    h1{
      letter-spacing: 1px;
      font-size: 2.7em;
    }
    button{
      @include baton();
      position: absolute;
      top: 0;
      right: 4em;
    }
  }
  
  .showcase{
    display: flex;
    padding: 0 3em;
    .imgCont{
      position: relative;
      width: 50em;
      height: 27em;
      img{
        object-fit: cover;
        object-position: bottom 3;
        width: 100%;
        height: 100%;
      }
      button{
        @include signupbutton();
        color: rgb(136, 136, 136);
        background: rgb(236, 236, 236);
        position: absolute;
        left: 35%;
        bottom: 8%;
        &:hover{
          box-shadow: 2px 2px 12px #c7c7c7;
        }
      }
    }
    .products{
      display: flex;
      margin-left: 1em;
      gap: 1.5em;
    }
  }
}

.horsy{
  margin-top: 0;
  padding-top: 9em;
  position: relative;
  overflow: hidden;
  .header{
    button{
      @include baton();
      position: absolute;
      top: 0;
      left: 5em;
    }
  }

  .bgcircle{
    position: absolute;
    top: 5em;
    right: -4em;
    opacity: 0.3;
    width: 30em;
    height: 30em;
    border-radius: 50%;
    background: #8d9ba8;
  }
  
  .showcase{
    display: flex;
    gap: 1.7em;
    .imgCont{
      position: relative;
      width: 33em;
      height: 27em;
      img{
        object-fit: cover;
        object-position: bottom 3;
        width: 100%;
        height: 100%;
      }
      button{
        @include signupbutton();
        color: rgb(136, 136, 136);
        background: rgb(236, 236, 236);
        position: absolute;
        left: 25%;
        bottom: 8%;
        &:hover{
          box-shadow: 2px 2px 12px #c7c7c7;
        }
      }
    }
    .products{
      display: flex;
      margin-left: 1em;
      gap: 1.5em;
    }
  }
}

.kross{
  width: 50px;
  height: 50px;

  .thefirst{
    transform: rotate(45deg);
  }
  .thesecond{
    display: none;
  }
  .thethird{
    transform: rotate(-45deg);
  }
}

.BigSplit{
  display: flex;
  padding: 4em 0 4em;
  position: relative;

  .bgcircle{
    z-index: 1;
    position: absolute;
    bottom: -6em;
    left: -15em;
    opacity: 0.3;
    width: 30em;
    height: 30em;
    border-radius: 50%;
    background: #8d9ba8;
  }
  img{
    object-fit: cover;
    object-position: top;
    width: 55em;
    height: 30em;
    z-index: 900;
  }

  .RightBoy{
    background: #ebebeb;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 5em 0 0 5em;

    h1{
      text-align: left;
      font-size: 2.7em;
      span{
        text-align: left;
        display: block
      }
    }

    button{
      @include baton();
    }
  }
}

.Bb{
  .header{
    margin-bottom: 3em;
    h1{
      margin-bottom: 0.5em;
      font-size: 3em;
    }
    span{
      color: #6d6d6d;
      font-size: 1.1em;
    }
    button{
      top: 3em;
    }
  }
}

.Be{
  padding-bottom: 7em;

  .header{
    display: block;
    .img{
      display: block;
    }
    span{
      display: block;
    }
  }
  .showcase{
    display: flex;
    gap: 3em;
    justify-content: center;
  }
}

.modal{
  position: absolute;
  top: 1.1em;
  width: 100%;
  height: 100%;
  background: #ffffff;
  color: #383838;
  padding: 5em;
  padding-left: 0;

  .smaller-box{
    height: 100%;
    display: flex;
    gap: 25%;
    align-items: center;
    .leftSlim{
      height: 100%;
      .left{
        height: 100%;
        ul{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          border-right: solid #d8d8d8 2px;
          padding: 5px 0;
          padding-top: 6px;
          padding-bottom: 3em;
          gap: 3px;
          font-size: 1.2em;

          li{
            font-weight: 100;
            cursor: pointer;
            padding: 6px 3em;
            padding-right: 6em;
            text-align: left;
            display: flex;
            &:hover{
              background: #ebebeb;
            }
          }

          .colored{
            padding: 0;
            padding-right: 6em;
            display: flex;
            gap: 2.5em;
            align-items: center;
            .bar{
              background: rgb(115, 212, 250);
              height: 2.3em;
              width: 0.4em;
            }
            &:hover{
              background: rgb(214, 237, 247);
            }
          }

          .darkgreen{
            .bar{
              background: rgb(3, 190, 3);
            }
            &:hover{
              background: rgb(200, 248, 200);
            }
          }
          .purple{
            .bar{
              background: rgb(172, 3, 172);
            }
            &:hover{
              background: rgb(247, 193, 247);
            }
          }
          .yellow{
            .bar{
              background: rgb(255, 255, 11);
            }
            &:hover{
              background: rgb(241, 241, 157);
            }
          }
          .darkblue{
            .bar{
              background: rgb(62, 62, 253);
            }
            &:hover{
              background:  rgb(176, 176, 255);
            }
          }
          .ashy{
            .bar{
              background: grey;
            }
            &:hover{
              background: rgb(170, 170, 170);
            }
          }
          .lightpink{
            .bar{
              background: pink;
            }
            &:hover{
              background: rgb(248, 209, 216);
            }
          }
        }
      }
    }
  }
}

.Footsy{
  // position: absolute;
  // bottom: 0;
 // padding-bottom: 19em;
  padding-top: 10px;

  *{
    color: rgb(219, 219, 219);
  }
  
li{
  cursor: pointer;
}

  .containerT{
      display: flex;
      justify-content: center;
      padding: 1.7em 3em;
      //background-color: green;
      width: 100%;

      .right{
          display: flex;
          justify-content: center;
          gap: 6em;
          ul{
            //background: yellow;
              display: flex;
              flex-direction: column;
              justify-content: left;
              text-align: left;
              gap: 1.1em;
              padding: 1em;
              span{
                color: #6d6d6d;
                  font-size: 1.3em;
                  font-weight: 200;
                  margin-bottom: 5px;
                  text-align: left;
                  margin-bottom: 10px;
              }
              li{
                  font-size: 1em;
                  text-align: left;
                  color: #6d6d6d;
              }
          }
      }
  }

  .containerB{
    background: #ffffff;
    padding-top: 2em;
    padding-bottom: 9em;
    .float{
      padding-top: 1em;
      .topDawg{
        margin-bottom: 2.3em;
      }
      span{
        color: #8a8a8a;
        display: block;
        line-height: 1.5em;
        margin-top: 0.9em;
      }

      .u{
        text-decoration: underline;
      }
    }
  }
}