* {
  transition: ease 0.2;
}

@mixin baton {
  width: fit-content;
  font-weight: bold;
  padding: 0.9em 2.1em;
  font-size: 1em;
  border: solid rgb(91, 92, 92) 1.8px;
  background: none;
  border-radius: 23px;
  cursor: pointer;
  transition: ease-in-out 0.2s;

  &:hover {
    opacity: 1;
    color: black;
    background: rgb(222, 225, 228);
  }
  &:active {
    opacity: 1;
    color: white;
    background: none;
  }
}

@mixin signupbutton {
  color: #f8f8f8;
  opacity: 0.6;
  width: fit-content;
  font-weight: 200;
  padding: 0.9em 2.7em;
  font-size: 1.2em;
  border: none;
  background: rgb(82, 82, 82);
  border-radius: 23px;
  cursor: pointer;
  transition: ease-in-out 0.2s;

  &:hover {
    opacity: 0.7;
    color: rgb(255, 255, 255);
    background: rgb(49, 49, 49);
  }
  &:active {
    opacity: 1;
    color: rgb(32, 32, 32);
    background: none;
  }
}

.Nav {
  padding: 0.5em 3.1em;
  padding-bottom: 0;
  display: block;
  position: fixed;
  width: 100%;
  z-index: 10000;
  background-color: #ffffff;

  .olodo {
    font-size: 1.3em;
  }

  input {
    font-size: 1.2em;
    background: #c7c7c7;
    opacity: 0.6;
    text-align: left;
    border-radius: 17px;
    height: 2em;
    border: none;
    width: 50em;
    margin: 6px 20px;
    padding: 1.4em;

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      opacity: 1;
      outline: none;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding: 0 0.1em;
    padding-right: 1.3em;
    align-items: center;

    .rightboy {
      display: flex;
      justify-content: space-between;
      gap: 0;
      align-items: center;

      .sololink {
        font-weight: 100;
      }

      .logo {
        padding: 0;
        padding-top: 5px;
        display: flex;
        align-items: center;

        .logoimage {
          width: 10em;
          zoom: 1.5;
        }
      }
    }

    .closedNav {
      cursor: pointer;
      color: rgb(37, 37, 37);
      display: flex;
      gap: 3em;
      font-weight: lighter;
      padding: 0;
      justify-content: left;
    }

    .getstarted {
      display: flex;
      align-items: center;
      gap: 1.5em;
      transition: ease-in-out 2s;

      .getStarted {
        @include baton();
        font-weight: lighter;
        border: none;
        transition: linear 0.2s;
        opacity: 0.7;

        &:hover {
          opacity: 1;
          color: rgb(37, 37, 37);
          background: none;
        }
      }
    }
  }

  .mens {
    display: block;
    &:hover {
      .ops {
        height: 4px;
      }
    }
  }

  .womens {
    display: none;
  }
}

button {
  background: none;
  border: none;
  width: fit-content;
  cursor: pointer;
}

.navbar-link {
  opacity: 0.6;
  transition: 0.1s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.inactive {
  opacity: 0.7;
}

.active {
  opacity: 1;
  padding: 1.4px 2px;
  //border-bottom: solid 3px rgb(37, 37, 37);
}

.oho {
  padding-top: 6em;
  background: #ffffff;
}

.banner {
  background-color: rgb(1, 145, 145);
  padding: 1em 0.5em;
  font-size: 1.1em;
  font-weight: 200;
  position: relative;
  .cont {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      color: #f5f5f5;
    }
    button {
      display: flex;
      align-items: center;
      position: absolute;
      top: 4px;
      right: 13px;
      svg {
        scale: 0.5;
      }
    }
  }
}

.noshow {
  display: none;
}

.BigCaro {
  position: relative;
  img {
    width: 100%;
  }
  button {
    @include signupbutton;
    scale: 1;
  }

  .rootbeer {
    position: absolute;
    bottom: 7.2em;
    left: 65em;
    background: #ebb0c6;
    padding: 2em;
    padding-top: 8px;
  }
}

.LinkBar {
  ul {
    display: flex;
    justify-content: space-between;
    padding: 0 6em;
    font-weight: 200;
    opacity: 0.8;
  }
}

.CardA {
  margin: 0;
  border-radius: 1em;
  padding: 1em 10px;
  height: fit-content;
  width: fit-content;

  &:hover {
    box-shadow: 0px 17px 18px #e4e4e4;
  }
  .smaller-box {
    .top {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 13em;
      margin-bottom: 1.2em;
      img {
        width: 15em;
        height: 20em;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0px 1px 4px #b8b7b7;
      }
    }
    .bottom {
      display: flex;
      flex-direction: column;
      .one {
        display: flex;
        justify-content: space-between;
        .left {
          display: flex;
          flex-direction: column;
          justify-content: left;
          .big {
            font-size: 1.2em;
            font-weight: 100;
          }
          .small {
            font-size: 1em;
          }
          .red {
            color: red;
            font-size: 0.8em;
          }
        }
        .right {
          font-weight: 100;
          font-size: 1.2em;
        }
      }
      .two {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left {
          .color-box {
            display: flex;
            justify-content: space-between;
            gap: 4px;
            align-items: center;
            .circle {
              width: 1.1em;
              height: 1.1em;
              border-radius: 50%;
            }
            .R {
              background-color: red;
            }
            .B {
              background-color: blue;
            }
            .A {
              background-color: #383838;
            }
          }
        }
        .right {
          button {
            @include signupbutton();
          }
        }
      }
    }
  }
}

.wnsection{
  margin-top: 6em;
  .header{
    position: relative;
    h1{
      letter-spacing: 1px;
      font-size: 2.7em;
    }
    button{
      @include baton();
      position: absolute;
      top: 0;
      right: 4em;
    }
  }
  
  .showcase{
    display: flex;
    padding: 0 3em;
    padding-bottom: 30em;
    .imgCont{
      position: relative;
      width: 50em;
      height: 25em;
      img{
        object-fit: cover;
        object-position: bottom 3;
        width: 100%;
        height: 100%;
      }
      button{
        @include signupbutton();
        color: rgb(136, 136, 136);
        background: rgb(236, 236, 236);
        position: absolute;
        left: 35%;
        bottom: 8%;
        &:hover{
          box-shadow: 2px 2px 12px #c7c7c7;
        }
      }
    }
    .products{
      display: flex;
      margin-left: 1em;
      gap: 1em;
    }
  }
}