.swarm{
    padding: 2em;
    text-align: right;
    span{
        display: block;
        text-align: center;
    }
    .oui{
        table{
            tr{
                margin: 30px;
            }
        }
    }
}